<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>
 
<h2>Posts</h2>
<%= render @user.posts %>
<%= has_posts?(current_user) %>
 
<h2>Comments</h2>
<%= render @user.comments %>
<%= has_comments?(current_user) %>

<h3>Favorites</h3>
  <% @user.favorited_posts.each do |post| %>
    <img style="float: left;" src="<%= show_gravatar(post.user) %>" /> 
    <%= render post %>
  <% end %>
<%= user_favorites(current_user) %>